[submodule "test/tools/ft_mallocator"]
	path = test/ft_mallocator
	url = https://github.com/tmatis/ft_mallocator.git
[submodule "test/gnlTester"]
	path = test/gnlTester
	url = git@github.com:Tripouille/gnlTester.git
